*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
 
}

:root{
    --main-text: #111;
    --background:#ffffff;
    --main-color: #0a7dfc;
    --second-text:#f1eeee;
    --white-text:#fff;
    --margin:11%;

}
.socials{
  display: flex;
  justify-content: flex-end;
  padding-right: var(--margin);
  background-color: var(--second-text);
}
.socials i{
  color: var(--main-color);
  padding: 10px;
}
.socials i:nth-child(1){
  color:blue;
}
.socials i:nth-child(2){
  color: var(--main-color);
}
.socials i:nth-child(3){
  color:rgb(253, 130, 151)
}
.socials i:nth-child(4){
  color:rgb(76, 76, 216);
}

header{
  padding: 0.5rem 3% 2% 3%;
  width: 100%;
  background-color: var(--background);
}
.header-container {
  display: flex;
  padding:0 var(--margin);
}
.info{
  display:flex ;
  justify-content: flex-end;
  margin-left:5rem ;
  width: 100%; 
  gap:8px; 
}
.navbar-brand{
  display: flex;
}
.navbar-brand p{
  margin: 0;
  padding: 0;
  color: var(--main-text);
  font-weight: bold;
}

#header-contact, #header-location, #header-mail {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: auto;
  font-size:1vw;
} 
#header-contact div, #header-location div, #header-mail div, .logo span {
  text-align: left; 
  display: block;
 
}
#header-contact span, #header-location span, #header-mail span, .logo span {
  display: block; 
  color: var(--main-text);
  font-weight: 700;
  font-size: 1vw;
}  
.fas-i{
  color: var(--main-color);
  margin-right: 5px;
}
.fas-search{
  margin-left: 3px;
  color: white;
}
/* .navbar  */
.navbar{
position: relative;
top: -40px;
}
.navbar ul {
    list-style: none;
    margin:0 var(--margin);
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--main-color);
    position: relative;
    z-index: 10;
  }

  .navbar a {
    text-decoration: none;
    color: var(--white-text);
    font-weight: 600;
  }

  .navbar a:hover {
    color: var(--second-text);
  }
  .navbar a:nth-child(1){
    margin-left:2rem;
  }
  .navbar a:nth-child(8){
    background-color: var(--background);
    padding: 10px;
    border: none;
    color: grey;
  }

  /* search  */
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 0; 
    opacity: 0; 
    transition: width 0.3s ease, opacity 0.3s ease; 
    border: 1px solid #ccc;
    padding: 5px;
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--white-text);
    margin-right: 20px;
}

.search-container.active .search-input {
    width: 200px; 
    opacity: 1; 
}

/* hero section  */
.hero{
  background:url(assets/images/hero.jpg);
  background-size:100%; 
  background-position: center; 
  background-repeat: no-repeat;  
  height: 80vh; 
  width: 100%; 
  position: relative;
  top: -90px;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10,0.3 );
  z-index: -10;
}
.hero-logo{
  position: relative;
  height: 80vh; 
  left: -5%;
}
.hero-text{
  position: absolute;
  text-align: left;
  top: 30%;
  left: var(--margin);
}
.hero-text h1{
  font-size: 4vw;
  font-weight: 750;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  color: var(--background);
  letter-spacing: 0.5px;
} 
.hero-btn{
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  font-size: 1.3vw;
  border-radius: 20px ;
  color: var(--background);
  text-decoration: none;
  background: rgb(0,92,194);
  background: -moz-linear-gradient(180deg, rgba(0,92,194,1) 17%, rgba(80,155,251,1) 53%, rgba(149,192,238,1) 95%);
  background: -webkit-linear-gradient(180deg, rgba(0,92,194,1) 17%, rgba(80,155,251,1) 53%, rgba(149,192,238,1) 95%);
  background: linear-gradient(180deg, rgba(0,92,194,1) 17%, rgba(80,155,251,1) 53%, rgba(149,192,238,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005cc2",endColorstr="#95c0ee",GradientType=1);
  text-align: center;
  box-shadow: 0 2px 5px #2681e2, 0 8px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}

.hero-btn:hover{
  box-shadow: 0 0 0 #2681e2, 0 8px 10px rgba(0, 0, 0, 0.2);
  color: var(--background);
}

/* about us  */
.about-us{
  height:fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--margin)  0 var(--margin);
  position: relative;
  top: -5.7rem;
  background-color: var(--background);
  overflow-x:hidden ;
}
.about-us h6{
  position: absolute;
  top:60px;
  color: var(--main-color);
  font-weight: 700;
 

}
.about-us-text{
  height: 250px;
  overflow-y: scroll;
  width: 30vw;
  padding-left: 20px;
  margin-top: 50px;
}
.about-us-text{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between ;
}
.about-us-text div{
  display: flex;
  align-items: center;
}
.about-us-text p{
  color: rgb(141, 139, 139);
  font-weight: 400;
}

.about-us-text img{
  padding: 20px;
  border: 10px solid rgb(235, 232, 232);
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-right:20px;
}
.about-us-text::-webkit-scrollbar {
  width: 0.8rem;
}

.about-us-text::-webkit-scrollbar-thumb {
  background-color: var(--main-color); 
  border-radius: 10px;
}

.about-us-text::-webkit-scrollbar-track {
  background: #e9e5e5; 
  border-radius: 10px; 
}
.about-us-img{
  width: 50%;
  height: 100%;
}
.about-us-img img{
 width: 100%;
 height: 100%;
 object-fit: cover;   
 transform: rotateY(3.142rad);
 object-position: center;
}


/* champion section  */
.champion-section{
 background-image: url(assets/images/champion-img.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size:contain; 
 height: 70vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.champion-section h2{
  color: var(--background);
  font-weight: 800;

}

.champion-section h2 span{
  display: block;
  margin-top: 10px;
  padding-bottom: 50px;
}
.champion-container{
  width: fit-content;
  text-align: left;
  position: relative;
  left: 180px;
  top: -50px;
}
.champion-btn{
  padding: 10px 20px;
}
/* FAQ section  */
.FAQ{
  padding:50px var(--margin);
  height: fit-content;
  width: 100%;
}
.FAQ p, .FAQ p span, .FAQ h6 span, .FAQ h2{
  display: block;
  text-align: center;
}
.FAQ h2{
  font-weight: 500;
}
.FAQ p{
  font-weight: 500;
  color:  #333;
}

.FAQ h6{
  color: var(--main-color);
  font-weight: 500;
  text-align: center;
}
.FAQ-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  z-index:10 ;
  background-color: var(--background);
  padding: 20px 50px 50px 50px;
  border-radius: 3px 3px;
}

.FAQ-column {
  width: 45%; 
  
}

.expandable-section {
  margin: 10px 0;
  border-top: 2px solid var(--second-text);
  border-radius: 5px;
}
.expandable-content:last-child{
  border-top: 2px solid var(--second-text);
}

.expandable-content {
  cursor: pointer;
  padding: 5px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.plus-icon {
  color: black; /* Default color for the plus sign */
  font-weight: 700;
  font-size: 1.5rem;
}

.minus-icon {
  color: var(--main-color); /* Color for the minus sign */
  font-weight: 700;
  font-size: 1.5rem;
}

.additional-text {
  display: none; /* Keep the additional content hidden by default */
  background-color: var(--background);
  border-top: 2px solid var(--second-text);
}

/* client section  */

.client{
  padding:150px var(--margin);
  text-align:center ;
  position: relative;
  top: -150px;
  background-color: var(--second-text);
  height: max-content;
  overflow:hidden;
}
.client h6{
  color: var(--main-color);
}
.client h2{
  font-weight: 700;
}
.client p{
  font-weight: 400;
  color: #777;
}
.client p span{
  text-align: center;
  display: block;
}

.client-logo{
  position: absolute;
  right: -100px;
  top: 50px;
  height: 100%;
  opacity: 30%;
}
.card-holder{
  padding-top: 50px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  /* width: 300px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.3s ease; 
}
.card:hover {
  transform: scale(1.05); 
}

.card img {
  position: absolute;
  top: -50px;
  left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card p {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: justify;
}

.client-tab {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.client-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.client-info span {
  font-size: 14px;
  color: #666;
  text-align: left;
}

.stars {
  display: flex;
  align-items: center;
}

.stars i {
  color: gold;
  margin-left: 5px;
  font-size:x-small;
}
/* event section  */
.event{
  padding:0 var(--margin);
  text-align:left;
  padding-bottom:5rem;
}
.event h2{
  font-weight: 700;
}
.event p{
  color: var(--main-color);
  font-weight: 600;
} 
.event-card-holder{
  display: flex;
  width: 100%;
  gap: 1rem;
 
}
.card-img-top{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  transition: 0.5s ease;  
}
.event-card{
  box-shadow:2px 2px 2px 2px  rgba(0,0,0,0.1);
  border-radius: 5px;

  overflow: hidden;
}
.card-img-top:hover{
  transform: scale(1.08); 
}
.card-body{
  width: 100%;
}
.card-body p{
  color: #333 ;
  font-weight: 500;
  border-bottom: 1px solid var(--second-text);
  padding-bottom: 10px;
}
.card-body h3{
  font-size:x-large;
  font-weight: 700;
}
.card-body a{
  font-weight: 700;
  text-align: right;
}
/* contact  */
.contact{
  padding:50px var(--margin);
  display: flex;
  position: relative;
  background-color: var(--second-text);
  padding-bottom: 7rem;
}
.contact img{
  position: absolute;
  right: 0;
  top: 20px;
}
.map div{
  display: flex;
}
iframe{
  width: 100%;
  position: relative;
  z-index: 10;
}
.contact-info{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 32%;
  flex-wrap: wrap;
  position: relative;
  gap: 1rem;
}
.contact-info h3{
  font-weight: 700;
  font-size: x-large;
}
.contact-info p{
  font-size: 14px;
  color: #777;
}
.contact-us {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 10;
}

.contact-us h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-us p {
  margin-bottom: 30px;
  color: #666;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px;
  transition: all 0.2s ease;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color:  #999;
}
.form-group .icon {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}

.checkbox-group label{
  color: #777;
  font-size: medium;
}

.checkbox-group {
  display: flex;
  justify-content:space-between;
  align-items:normal;
  margin-top: 20px;
}


/* email footer  */
.email-footer{
  padding: 20px var(--margin);
  display: flex;
  height: 8rem;
  background-color:#001f8b;
  position: relative;
}
.email-footer img{
position: absolute;
left: -9%;
top: 0;
height: 9rem;
opacity: 40%;
}
.email-footer div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-footer div p{
  color: var(--white-text);
}
.input-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input-container input {
  width: 100%;
  padding: 10px 120px 10px 20px; 
  font-size: 16px;
  border-radius: 50px; 
  border: none;
  outline: none;
}

.input-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 20px;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }

  /* footer section  */
  footer{
    padding: 20px var(--margin);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #00070f;
    color: var(--background);
  }
footer div{
  display: flex;
  width: 100%;
  gap: 1rem;
 }
 .footer-logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
 }
 .footer-logo span{
  display:flex ;
  justify-content: space-evenly;
  opacity: 20%;
 }
.footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.9rem;
}
.footer-contact p{
  display: flex;
}
.footer-links{
  display: flex;
  flex-direction: column;
}
.footer-links a{
  text-decoration: none;
  color:var(--white-text);
  width: fit-content;
}
.footer-links a:hover{
color: var(--main-color);
}
.footer-links a span{
font-size: 2;
font-weight: 800; 
color: var(--main-color);
}


.IG{
  display: block;
  display: flex;
  flex-direction: column;

}
.IG div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.IG-images{
  width: 70px;
  height: 70px;
  flex-grow: 1;
}
.end-footer{
  background-color: #00070f;
padding:10px var(--margin);
}

.copyright{
  display: flex;
  justify-content:space-between;
  padding: 10px;
  width: 100%;
  position: relative;
  background-color: #001f8b;
  color:var(--white-text);
}
.copyright div, .copyright div a {
  color: var(--white-text);
  text-decoration: none;
  display: flex ;
  gap: 20px;
}


/* smaller scren  */
@media only screen and (max-width: 900px) {
.info{
  display: none;
}
  /* hero section  */
  .hero{
    background-size: cover;
    height: 80vh; 
    width: 100%; 
    position: relative;
    top: -30;
    z-index: 1;
  }
  .hero::before {
    background-color: rgba(30, 30, 30,0.6 );
  }
  .hero-logo{
    position: relative;
    height: 80vh; 
    left: -30%;
    opacity: 60%;
  }
.hero-text h1{
  font-size: 9vw;
}
.hero-btn{
  font-size:4vw ;
}

/* about us  */
.about-us{
  display: block;

}
.about-us h6{
top: -40px;
padding-bottom: 1rem;
}
.about-us-text{
  width: 100%;
  margin-top: 70px;

}
.about-us div{
  display: block;
}
.about-us-text img{
width: 4rem;
height: 4rem;
padding: 10px;
border: 5px solid rgb(235, 232, 232);
}
.about-us-img{
  width: 100%;
}
.about-us-img img{
width: 100%;
object-fit: fill;

}
/* champion section  */
 .champion-section{
   background-position: top;
   background-size:auto;
   text-align: center;
}
.champion-container{
text-align: center;
top: 0;
left: 0;
} 

/* FAQ section  */
.FAQ p{
  text-align:left ;
}
.FAQ p, .FAQ p span, .FAQ h6 span, .FAQ h2{
  display: block;
  text-align: center;
}
.FAQ-container{
  margin: 5px;
  padding: 10px 10px 10px 10px;
}

/* client section  */
.client p{
color: var(--main-text);
font-weight: 450;
}
.card-holder{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
  /* FAQ section  */
  .info{
    display: none;
  }
  .FAQ-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
  }
  .FAQ-column {
    width: 100%;
    gap: 1rem;
  }

/* event card */
.event-card-holder{
  flex-wrap: wrap;
}

/* contact section  */
.contact{
  flex-direction: column;
}
.map div{
  flex-direction: column;
}
.contact-info{
  width: 100%;
  gap: 0.2rem;
  padding-top: 5px;
}

.contact-us {
  padding: 10px;
}

  /* .email-footer  */
  .email-footer div{
    flex-direction: column;
  }

  .email-footer img{
    left: -15%;
    }
/* footer  */
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer div{
flex-direction: column;
}
.footer-links {
  display:inline-block;  
}
.footer-links a{
  margin-right: 10px;
}
.copyright{
padding: 5px;
}
.end-footer{
  background-color: #00070f;
  padding:5px var(--margin);
}
}

